@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.cartRow {
  justify-content: center;
  padding-top: 150px;
}

.resumenCol {
  border: 1px solid #6c4a00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulosPedido {
  background-color: #d5b375;
  height: 7vh;
}

.precioPedido {
  background-color: #d5b375;
  height: 7vh;
}
.cart-title {
  font-size: 2em;
  color: #b17a04;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-clear {
  color: white;

  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.productoPedido {
  height: 10vh;
  object-fit: contain;
}

.imagenPedido {
  height: 70%;
}

.productoNombre {
  height: 20%;
  margin: 0;
}

.button-filter-cuadrado {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6c4a00;
  margin-left: 5px;
  font-size: small;
  font-weight: 200;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  color: #6c4a00;
  background-color: white;
}

.pedidoCantidadImput {
  width: 5vw;
  border: 1px solid #6c4a00;
}

.pedidoText {
  display: flex;
  justify-content: center;
}
