@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.cartRow {
  justify-content: center;
  padding-top: 100px;
  flex-wrap: nowrap;
}
.p-cart {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: var(--brown-color);
  margin-bottom: 0;
}
.sumary-cart {
  border-bottom: 1px solid var(--grey-color);
  height: 7vh;
}
.summaryCart {
  min-width: 240px;
}
.resumenCol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 400px;
}
.title-summary {
  font-size: 20px;
  color: var(--brown-color);
  margin: 0;
  border-bottom: 1px solid var(--grey-color);
}
.p-summary {
  line-height: 120%;
}
.titulosPedido {
  border-bottom: 1px solid var(--grey-color);
  align-items: center;
  margin-right: 50px;
  color: rgb(172, 172, 172);
  text-decoration: none;
}
.titulosPedido:hover {
  color: rgb(172, 172, 172);
}

.precioPedido {
  border-bottom: 1px solid var(--grey-color);
}
.cart-title {
  font-size: 2em;
  color: var(--brown-color);
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-clear {
  color: var(--brown-color);

  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.productoPedido {
  height: 10vh;
  object-fit: contain;
}

.imagenPedido {
  height: 120px;
  width: 120px;
}

.productoNombre {
  height: 20%;
  margin: 0;
  z-index: 1;
}
.close {
  cursor: pointer;
}

.button-filter-cuadrado {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6c4a00;
  margin-left: 5px;
  font-size: small;
  font-weight: 200;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  color: #6c4a00;
  background-color: white;
}

.button-filter-cuadrado-10 {
  height: 25px;
  width: 40px;
  align-items: center;
  border: 1px solid #6c4a00;
  font-size: small;
  font-weight: 200;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  color: #6c4a00;
  background-color: white;
}

.button-filter-cuadrado-borrar {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  margin-left: 5px;
  font-size: small;
  font-weight: 200;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  color: red;
  background-color: white;
}

.pedidoCantidadImput {
  width: 5vw;
  border: 1px solid #6c4a00;
}
.item-pedido {
  align-items: center;
  margin-top: 50px;
  border-bottom: 1px solid var(--grey-color);
  margin-right: 50px;
}
.pedidoText {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.button-cart {
  border: none;
  background-color: var(--brown-color);
  color: white;
  font-size: 15px;
  width: 100%;
}
.p-promotion {
  color: rgb(172, 172, 172);
  font-size: 13px;
}
.p-promotion:hover {
  color: rgb(206, 202, 202);
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 992px) {
  .container-Cart {
    margin-bottom: 600px;
  }
}
@media (max-width: 768px) {
  .container-Cart {
    margin-bottom: 300px;
  }
}
@media (max-width: 768px) {
  .resumenCol {
    justify-content: start;
  }
}
