@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

.aboutRow {
  justify-content: center;
  width: 100%;
}

.aboutText {
  font-family: "Vollkorn", serif;
  font-style: italic;
}
