@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.aboutRow {
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.aboutText {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
#a-about {
  text-decoration: none;
  color: var(--brown-color);
}
#a-about:hover {
  background-color: var(--brown-color);
  color: #ffffff;
}
@media (max-width: 768px) {
  .aboutRow {
    margin-bottom: 600px;
  }
}
