/* SERVICES */

.services {
  text-align: center;
  background-color: #fff
}

.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover {
  background: #ddd;
  border: 1px solid;
}
.service i {
  color: rgba(108, 73, 0, 0.8);
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  font-family: var(--font-montserrat);
}
.service p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}

.footerMarginServices {
  margin-bottom: 300px;
}

@media (max-width: 992px) {
  .footerMargin {
    margin-bottom: 1000px;
  }
}

@media (max-width: 205px) {
  .footerMargin {
    margin-bottom: 650px;
  }
}