/*******************************/
/********* General CSS *********/
/*******************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --black-color: #000000;
  --brown-color: #8a7357;
  --hover-text-color: #b0aaa9;
  --font-montserrat: "Montserrat", sans-serif;
  --grey-color: #f6f6f6;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: rgb(148, 147, 147);
}
a:hover {
  color: rgb(148, 147, 147);
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
  transition: 0.5s;
  margin: 0;
  background: var(--black-color) !important;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  cursor: pointer;
  color: #ffffff;
  font-family: var(--font-montserrat);
  margin-right: 15px;
  margin-top: 10px;
  align-self: center;
}
.nav-link:hover {
  color: var(--hover-text-color);
}

#navbar-brand {
  align-self: center;
}
.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  color: #ffffff;
}
#navbar-toggle {
  color: #ffffff;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.svg {
  background-image: url("/public/img/ShoppingBag.svg");
}
@media (min-width: 992px) {
  \ .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 10px 8px 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }
}

.offcanvas-body {
  background-color: var(--black-color);
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

.carrito {
  position: absolute;
  font-size: 25px;
}

.cart-number {
  font-size: 40px;
  font-weight: 1000;
}

.products-cart {
  position: relative;
}
.container-navbar {
  display: flex;
  flex-direction: column;
}

.container-navlink {
  display: flex;
}
