/*******************************/
/********* General CSS *********/
/*******************************/
:root {
  --main-color: rgba(108, 73, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, Arial, sans-serif;
}

body {
  color: #797979;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414141;
}

a {
  color: #313131;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: var(--main-color);
  outline: none;
  text-decoration: none;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
  position: fixed;
  transition: 0.5s;
  z-index: 999;
  margin: 0;
  width: 100%;
}

.nav-item {
  cursor: pointer;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.navbar .navbar-brand img {
  max-width: 100%;
  height: 75px;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #000;
}

@media (min-width: 992px) {
  .navbar {
    width: 100%;
    padding: 30px 60px;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed rgba(256, 256, 256, 0.2);
    z-index: 9;
  }

  .navbar .navbar-brand {
    color: #fff;
  }

  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 10px 8px 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgba(108, 73, 0, 0.8);
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #ffffff !important;
  }

  .navbar .navbar-brand {
    color: var(--main-color);
  }

  .navbar .navbar-nav {
    margin-top: 15px;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}

.carrito {
  position: absolute;
  font-size: 25px;
}

.cart-number {
  font-size: 40px;
  font-weight: 1000;
}

.products-cart {
  position: relative;
}