.brown-global {
  --main-brown-color: hsl(41, 96%, 35%);
}

.button-global {
  border: 1px solid #b17a04;
  margin-left: 5px;
  font-size: small;
  font-weight: 200;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  color: #b17a04;
  background-color: white;
  text-transform: uppercase;
}
