.img-paralax {
  background-image: url("https://taklnamocbdbysfkbsho.supabase.co/storage/v1/object/public/psfe-commerce/Carousel_3.jpg");
  height: 80vh;
  width: 100%;
  object-fit: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 500px) {
  .img-parallax {
    background-attachment: scroll;
  }
}
.btn-flotante:focus {
  color: white;
  background-color: var(--brown-color);
  box-shadow: none;
  border-color: var(--brown-color);
}
