/* .footerDiv {
  height: 50%;
} */
.footerRow {
  background-color: #3e3735;
  width: 100%;
  margin: 0;
  /* position: relative; */
  color: whitesmoke;
  height: 60vh;
  flex-direction: column;
  align-items: center;
}

.footerTitle {
  color: whitesmoke;
}
/* 
.footerDiv::after {
  width: 100%;
  content: "";
  background: url("./bd_img.webp") repeat-x;
  height: 14px;
  top: -7px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
} */

.footerIcon {
  color: #b17a04;
  cursor: pointer;
}

.footerDivider {
  height: 1px;
  background-color: #b17a04;
  border: none;
  width: 80%;
}
