.img-productDetails {
  width: 300px;
  height: 300px;
  margin-top: 10em;
}
.title-productDetails {
  font-size: 24px;
  font-weight: 500;
  color: #b17a04;
  margin-top: 5em;
  margin-bottom: 1em;
}
#p-productDetails {
  width: 70%;
}
.circle-counter {
  background-color: #ead5ab;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#button-productDetail {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  margin-top: 2em;
}
@media (max-width: 600px) {
  #col2-productDetails {
    align-items: center;
  }
}
