.img-productDetails {
  width: 300px;
  height: 300px;
  margin-top: 5em;
}
.title-productDetails {
  font-size: 24px;
  font-weight: 500;
  color: var(--brown-color);
  margin-top: 3em;
  margin-bottom: 1em;
}
#p-productDetails {
  color: var(--brown-color);
  width: 70%;
  font-family: var(--font-montserrat);
}
.circle-counter {
  background-color: var(--grey-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#button-productDetail {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  margin-top: 2em;
}
@media (max-width: 600px) {
  #col2-productDetails {
    align-items: center;
  }
}
.recommendedUser {
  display: flex;
}
.recommended {
  border: 1px solid var(--grey-color);
  cursor: pointer;
}
.img-productRecommended {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.nameRecommended {
  color: #6c4a00;
  font-size: 20px;
}

.verMas {
  align-self: center;
  font-size: 1.5em;
  color: var(--brown-color);
  font-weight: 500;
  text-decoration: none;
}
.verMas:hover {
  color: var(--brown-color);
}
.row-productDetails {
  width: 100%;
  justify-content: center;
}
.row-recommendedProduct {
  width: 100%;
  margin-bottom: 400px;
}
.tags {
  color: var(--brown-color);
}
.container-recommended {
  overflow: auto;
}
#title-recommended {
  color: var(--brown-color);
  font-family: didot-w01-italic;
  font-style: italic;
  font-size: 2.5em;
  font-weight: 300;
}

@media (max-width: 763px) {
  .row-recommendedProduct {
    margin-bottom: 650px;
  }
}
