@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.div-filter {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 4em;
}

.filterRow {
  width: 100%;
  margin: 0;
}
.div-filter {
  position: relative;
}
.img-filter {
  width: 200px;
  height: 200px;
  transition: transform 0.2s;
}

.img-filter:hover {
  transform: scale(1.5);
  cursor: pointer;
  filter: opacity(0.6);
}

.box-name {
  position: absolute;
  top: 30px;
  bottom: 5px;
  display: none;
}

.div-filter:hover .box-name {
  display: inline-block;
}

.title-filter {
  color: #b17a04;
  font-weight: 700;
  font-size: 2.5em;
}
.p-filter {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.button-filter {
  border: 2px solid #d5b375;
  margin-left: 5px;
  font-size: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  color: #d5b375;
  background-color: white;
  text-decoration: none;
}

.button-filter:hover {
  background-color: #d5b375;
  color: white;
}
