@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url(//db.onlinewebfonts.com/c/16efa2896f117dae2debeb23ab4715dd?family=DidoteTextW01-Italic);

.filterRow {
  width: 100%;
  margin-top: 10em;
  justify-content: space-between;
  background-color: var(--black-color);
  padding-bottom: 4em;
  padding-top: 1em;
}

.div-filter {
  text-align: center;
  margin-top: 6em;
  position: relative;
}

.img-filter {
  width: 200px;
  height: 200px;
  transition: transform 0.2s;
}
.box-name {
  z-index: 3;
  position: absolute;
  bottom: -35px;
  right: -20px;
  font-size: 25px;
  padding: 6%;
  display: none;
  cursor: pointer;
  color: var(--brown-color);
  font-weight: 500;
  font-family: didot-w01-italic;
  font-style: italic;
}

.div-filter:hover .img-filter {
  transform: scale(1.5);
  cursor: pointer;
}

.div-filter:hover .box-name {
  display: inline-block;
}

.title-filter {
  color: var(--brown-color);
  font-family: didot-w01-italic;
  font-style: italic;
  font-weight: 500;
  font-size: 3.5em;
}
.p-filter {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
}
.button-filter {
  border: 2px solid var(--brown-color);
  margin-left: 5px;
  font-size: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  color: var(--brown-color);
  background-color: white;
  text-decoration: none;
}
.button-filter:hover {
  background-color: var(--brown-color);
  color: white;
  transition: 0.5s;
}
